.btn-block+.btn-block {
    margin-top: 0px;
}

.img-user {
    height: 50px;
    width: 50px;
}


.form-edit [disabled] {
    cursor: default;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}